.icon-space {
  margin-right: 5px;
  width: 30px;
}

mat-toolbar{
  margin: -10px -4px 5px -20px;
  width: calc(100% + 40px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #efefef;
  height: 45px;
  padding: 10px 10px 18px;
  background: linear-gradient(to top, rgba(175, 221, 243, 0.445), rgba(0, 248, 186, 0.26));
}
