mat-sidenav-content {
  height: 100vh;
}

mat-sidenav-container {
  height: 100vh;
}

mat-toolbar-row {
  padding: 0;
}

.toolbar-submenu {
  height: 205px;
  font-size: 2rem;
  margin-top: 0px;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: primary;

  &-title{
    padding: 52px 30px;
    text-transform: capitalize;
  }

  &-top{
    height: 40px;
  }
}

.toolbar-submenu-top {
  position: relative;
  z-index: 1001;
}

.toolbar-submenu-top button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.sidenav {
  width: 300px;
  margin-top: 64px;

  .mat-icon{
    margin: 10px 20px 0 0;
    font-size: 18px;
  }

  .report-container {
    height: 200px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    margin: 8px 0;
  }

  .avatar{
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name {
    align-items: center;
    margin-top: 8px;
    font-weight: normal;
    font-size: 23px;
  }

  .designation{
    margin-top: 2px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
  }

  mat-nav-list{
    padding: 8px;
    a{
      border-radius: 20px;
      margin-bottom: 10px;
      padding-top: 1px;
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span{
        margin-top: 7px !important;
      }
      @media (min-width: 1920px) {
        span {
          position: fixed;
        }
      }

      mat-icon.expand-icon {
        float: right;
      }
    }

    .submenu {
      padding-left: 20px;

    }

    /* Para modo dark */
:host-context(body.theme-dark) a:hover,
:host-context(body.theme-dark) .active {
background: linear-gradient(to top, rgba(58, 211, 104, 0.897), rgba(44, 117, 44, 0.5)); /* Verde vibrante */
}

/* Para modo light */
:host-context(body.theme-light) a:hover,
:host-context(body.theme-light) .active {
  background: linear-gradient(to top, rgba(55, 71, 79, 0.6), rgba(38, 50, 56, 0.4)); /* Seu background padrão */
}
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

