mat-form-field{
  padding: 2px;
}
.align-left {
  display: flex;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: relative;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que o spinner esteja acima de outros elementos */
}
.loading-spinner {
  width: 50px; /* Tamanho do spinner */
  height: 50px;
}
:host-context(body.theme-dark) .mat-datepicker-toggle button .mat-icon {
  color: white !important;
}
:host-context(body.theme-light) .mat-datepicker-toggle button .mat-icon {
  color: #333333 !important;
}
