.actions-container {
  display: flex;
}
.report-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Garante que o container ocupe toda a largura disponível */
  margin: 20px auto; /* Centraliza o container na tela */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita transbordamento do conteúdo */
  box-sizing: border-box; /* Garante que padding e borda não afetem a largura total */
}
.parent-container {
  padding: 0; /* Ajusta o preenchimento do contêiner pai se necessário */
  margin: 0; /* Ajusta a margem do contêiner pai se necessário */
}
.table-container {
  overflow-x: auto;
  border-radius: 5px;
}
:host-context(body.theme-dark) .table-container th {
  background: linear-gradient(to top, rgba(34, 139, 34, 0.7), rgba(144, 238, 144, 0.5)); /* Verde vibrante */
  white-space: nowrap;
  text-align: center;
  padding: 8px;
}

:host-context(body.theme-light) .table-container th {
  background: linear-gradient(to top, rgba(55, 71, 79, 0.6), rgba(38, 50, 56, 0.4)); /* Seu background padrão */
  white-space: nowrap;
  text-align: center;
  padding: 8px;
}
.table-container td {
  text-align: center;
  white-space: nowrap;
  padding: 5px 24px; /* aumenta o espaçamento interno */
  font-size: 1.1rem;  /* fonte maior */
  height: 60px;       /* linha mais alta */
}
table {
  width: 100%; /* Mantém a tabela ocupando toda a largura disponível */
  border-collapse: collapse; /* Remove espaços entre as células */
}
.button-container {
  display: flex;
  justify-content: flex-end; /* Alinha botões à direita */
  margin-top: 15px; /* Margem opcional para separação */
}
.blue-button {
  color: #2196F3;
}
.red-button {
  color: #ff4c4c; /* Vermelho */
}
:host-context(body.theme-dark) .detalhes-button i {
  color: white;
}
:host-context(body.theme-light) .detalhes-button i {
  color: #333333;
}

:host-context(body.theme-dark) .filtro-search-field mat-icon {
  color: white;
}

:host-context(body.theme-light) .filtro-search-field mat-icon {
  color: #333333;
}
.paginator-wrapper {
  display: flex;
  justify-content: center; /* Centraliza o paginator horizontalmente */
  margin-top: 20px; /* Espaçamento acima do paginator */
}
.mat-paginator {
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 600px; /* Define a largura máxima */
  white-space: nowrap; /* Impede quebra de linha */
}
