mat-form-field{
  padding: 2px;
}

h2{
  text-align: center;
  margin-top: 15px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  :host-context(body.theme-dark) & {
      color: white;
 // ou outra cor escura desejada
  }

}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que o spinner esteja acima de outros elementos */
}

.loading-spinner {
  width: 50px; /* Tamanho do spinner */
  height: 50px;
}





